body {
	margin:0; padding:0;
	width:100%;
	height:100%;
	background:#fff;
}

#loading {
	background:#89a9b0;
	position:fixed;
	height:100%;
	width:100%;
	font-size:100px;
	color: #94b0b7;
	z-index:100;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#container {
	position:absolute;
	height:100%;
	width:100%;
}
#canvas {
	background-image: url('../imgs/bg-9.jpg');
	background-repeat:no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/bg-9.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgs/bg-9.jpg', sizingMethod='scale')";
    zoom:1;
    background-size: cover;
	margin:0 auto;
	position:relative;
	display: block;
	/*min-width:840px;
	min-height:472px;*/
}

.resources { display: none; } 